absl-py==0.11.0
annoy==1.17.0
appnope==0.1.2
APScheduler==3.7.0
astor==0.8.1
astroid==2.4.2
astunparse==1.6.3
atomicwrites==1.4.0
attrs==20.3.0
autopep8==1.5.4
backcall==0.2.0
bidict==0.21.2
cachetools==4.2.1
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
colorclass==2.2.0
colorhash==1.0.3
ConfigArgParse==1.2.3
configparser==5.0.1
coverage==5.3.1
coveralls==3.0.0
decorator==4.4.2
docopt==0.6.2
entrypoints==0.3
flake8==3.8.4
Flask==1.1.2
Flask-BasicAuth==0.2.0
Flask-MonitoringDashboard==3.1.0
Flask-SocketIO==5.0.1
flatbuffers==1.12
gast==0.3.3
gevent==21.1.2
geventhttpclient==1.4.4
geventhttpclient-wheels==1.3.1.dev2
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
greenlet==1.0.0
grpcio==1.32.0
gunicorn==20.0.4
h5py==2.10.0
idna==2.10
importlib-metadata==3.4.0
iniconfig==1.1.1
ipython==7.19.0
ipython-genutils==0.2.0
isort==5.7.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
lazy-object-proxy==1.4.3
locust==1.4.1
Markdown==3.3.3
MarkupSafe==1.1.1
mccabe==0.6.1
mock==4.0.3
more-itertools==8.6.0
msgpack==1.0.2
numpy==1.19.5
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==20.8
parso==0.8.1
pbr==5.5.1
pexpect==4.8.0
pickleshare==0.7.5
pip-upgrader==1.4.15
pluggy==0.13.1
prompt-toolkit==3.0.14
protobuf==3.14.0
psutil==5.8.0
ptyprocess==0.7.0
pur==5.3.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.7.4
pylint==2.6.0
pyparsing==2.4.7
pytest==6.2.2
pytest-cov==2.11.1
python-engineio==4.0.0
python-socketio==5.0.4
pytz==2020.5
pyzmq==21.0.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7
scipy==1.6.0
sentencepiece==0.1.95
six==1.15.0
SQLAlchemy==1.3.22
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
tensorflow-hub==0.11.0
termcolor==1.1.0
terminaltables==3.1.0
toml==0.10.2
tqdm==4.56.0
traitlets==5.0.5
typed-ast==1.4.2
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.26.2
uWSGI==2.0.19.1
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.0
zope.event==4.5.0
zope.interface==5.2.0
