absl-py==0.5.0
annoy==1.13.0
astor==0.7.1
click==6.7
Flask==1.0.2
gast==0.2.0
grpcio==1.15.0
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.10
Markdown==3.0
MarkupSafe==1.0
numpy==1.15.2
protobuf==3.6.1
sentencepiece==0.1.4
six==1.11.0
tensorboard==1.10.0
tensorflow==1.10.1
tensorflow-hub==0.1.1
termcolor==1.1.0
tqdm==4.26.0
Werkzeug==0.14.1
